#app {
    overflow: hidden;
}

#app .ant-layout-header {
    height: 83px;
    padding: 0 0;
}

#app .ant-layout .ant-layout-sider {
    width: 276px !important;
    min-width: 276px !important;
    max-width: 276px !important;
}

#app .ant-layout-content {
    background-color: white;
    overflow-y: scroll;
}

#app .ant-layout-has-sider {
    height: 100%;
}

.ant-notification-topRight {
    margin-top: 46px !important;
}

.ant-notification-notice-message {
    font-size: 10px !important;
    font-weight: 500;
    line-height: 24px;
}

.ant-notification-notice-description {
    font-size: 10px !important;
}

.error_popup {
    height: 53px;
    width: fit-content !important;
    border-radius: 5px !important;
    padding: 16px 0 !important;
}

.ant-notification-notice-content {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: -14px;
}

.error_popup a {
    color: red;
    height: 15px;
    width: 15px;
    margin-right: -14px;
    margin-top: -9px;
}