<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="res_config_settings_view_instafeed_form" model="ir.ui.view">
            <field name="name">res.config.settings.view.form.shopify</field>
            <field name="model">res.config.settings</field>
            <field name="priority" eval="5"/>
            <field name="inherit_id" ref="base.res_config_settings_view_form"/>
            <field name="arch" type="xml">
                <xpath expr="//div[hasclass('settings')]" position="inside">
                    <div class="app_settings_block"
                         data-string="Instafeed"
                         string="Instafeed settings"
                         data-key="Instafeed">
                        <h2>Instafeed Config</h2>
                        <group>
                            <field name="shopify_client_id"/>
                            <field name="shopify_client_secret"/>
                            <field name="shopify_api_version"/>
                            <field name="base_url"/>
                            <field name="ngrok_url"/>
                            <field name="shopify_script_tag_url"/>
                            <field name="instagram_app_id"/>
                            <field name="instagram_redirect_uri"/>
                            <field name="instagram_client_secret"/>
                            <field name="facebook_client_id"/>
                            <field name="facebook_redirect_uri"/>
                            <field name="facebook_client_secret"/>
                        </group>
                        <button type="object" name="change_script_tag_url">Update script tag</button>
                        <button type="object" name="change_ngrok_url">Update ngrok</button>
                    </div>
                </xpath>
            </field>
        </record>
    </data>
</odoo>